@use "../../Varibles.scss";

.add-issue-dialog {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: Varibles.$main-bg-color-selected, $alpha: 0.9);
  top: 0;
  overflow: hidden;
  transition: left 500ms ease-out;
}

.hide {
  max-width: 0;
  transition: left 500ms ease-out, max-width 0ms ease 500ms;
  left: -100%;
}

.show {
  max-width: 100%;
  left: 0;
}

.add-issue-dialog-form {
  max-width: 15em;
  display: grid;
  grid-template-columns: auto auto;
  padding: 1em;
  place-content: center;
  row-gap: 0.5em;
  column-gap: 1em;
  background-color: Varibles.$main-bg-color;
  border: solid 2px rgba($color: #000000, $alpha: 1);
  border-radius: 1em;
  padding: 1em 2em;
  label {
    text-align: right;
    height: fit-content;
    margin: auto 0;
  }
  textarea {
    resize: none;
  }
  div {
    grid-row: 3;
    grid-column: 1 / span 2;
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    gap: 1em;
  }
}
