.issue-container {
  display: grid;
  margin: 0.3em;
  border: 3px solid rgba($color: #000000, $alpha: 0.2);
  padding: 0.3em;
  row-gap: 1em;
  column-gap: 0.5em;
  border-radius: 1em;
  text-align: left;
  grid-template-columns: 2em auto 6em;
  grid-template-areas:
    "title title state-button"
    "state desc desc";
}
.Open {
  background-color: orange;
}
.Closed {
  background-color: greenyellow;
}
.issue-title::before {
  position: absolute;
  width: 100%;
  height: 2px;
  top: calc(100% + 0.5em);
  left: 2.5em;
  content: "";
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.issue-title {
  position: relative;
  font-weight: 700;
  text-decoration: underline;
  grid-area: title;
  padding-left: 1em;
  padding-top: 0.3em;
}

.issue-state {
  grid-area: state;
  display: grid;
  place-items: center;
  border-right: outset 2px rgba($color: #000000, $alpha: 1);
}

.issue-state-button {
  grid-area: state-button;
  border-radius: 0.5em;
  background-color: inherit;
  border: rgba($color: #ffffff, $alpha: 0.6) outset 3px;
  padding: 0.3em;
}
.open-issue-state-button {
  border: rgba($color: #000000, $alpha: 0.6) outset 3px;
}

.close-icon-bg {
  background-color: black;
  border-radius: 50%;
  line-height: 0.7em;
  width: fit-content;
  margin: 0;
  padding: 0;
  border: #000000 solid 1px;
}
.open-icon-bg {
  background-color: white;
  width: fit-content;
  border-radius: 50%;
  line-height: 0.7em;
  width: fit-content;
  margin: 0;
  padding: 0;
  border: #ffffff solid 1px;
}
