.user-input-container {
  width: 30%;
  max-width: 17em;
  border: solid 1px;

  padding: 0.5em;
  border-radius: 1em;
}
.user-input-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em;
  place-items: center;
  margin-bottom: 0.5em;
  input {
    border-radius: 0.5em;
    padding-left: 0.5em;
  }
  button {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%;
    min-width: 5em;
  }
}
.loggedin-user-import-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  button {
    width: 40%;
    min-width: 5em;
  }
}
