@use "Varibles";

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.App-header {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  min-height: 8em;
}

.title-container {
  position: relative;
  align-self: center;
  font-family: "Anton", sans-serif;
  color: Varibles.$main-title-color;
  font-weight: 500;
  &::before {
    position: absolute;
    content: "";
    height: 0.3em;
    bottom: -0.3em;
    left: 0;
    width: 100%;
    background-color: Varibles.$main-title-color;
  }
}

.header-debug {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 1em;
  padding: 0.5em 1em;
  justify-self: end;
  legend {
    margin: 0 auto;
  }
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.App-body {
  flex-grow: 1;
}
