$main-bg-color: rgb(65, 65, 65);
$main-title-color: rgb(255, 208, 0);
$main-font-color: rgb(231, 231, 231);

$accent-title-color: rgb(255, 255, 255);

$button-main-color: rgb(0, 37, 160);
$button-main-border: rgb(41, 87, 236);

$main-bg-color-selected: rgb(48, 48, 48);
